header {
  background-color: #a0af30;
  color: white;
  text-align: center;
  /* position: fixed; */
  /* padding: 1rem; */
}
.container {
  margin: auto;
  padding: 10px;
}

.logo {
  top: 10px;
  left: 10px;
  width: 60px;
  height: auto;
  border-radius: 50%;
  /* border: 3px solid #ffffff; */
  background-color: #f1eee9;
  padding: 6px;
  
}
.body_text{
  margin: 10px;
  /* background-color: rgb(129, 232, 232); */
}


nav a,h1 a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}
.home_link{
  display: inline-flex;
  align-items: center;
}

main {
  padding: 2rem;
}
footer {
  background-color: #61a2a7;
  color: white;
  text-align: center;
  padding: 20px 0;
  bottom:0;
  width: 100%; 
}
.image-links {
  display: flex;
  justify-content: space-between; /* Space out the items evenly */
  align-items: center; /* Align items vertically centered */
  margin-top: 20px;
  padding: 0 20px; /* Optional: add padding on the left and right for better spacing */
}

.image-link {
  flex: 1; /* Allow each item to grow equally */
  text-align: center; /* Center text under the images */
}

.image-link a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
}

.image-links img {
  width: 200px; /* Adjust size as needed */
  height: auto;
  cursor: pointer;
}

.image-link span {
  display: block; /* Make the title a block element */
  margin-top: 5px; /* Add some spacing between the image and the title */
  font-weight: bold; /* Make the title bold */
  color: #333; /* Change the color as needed */
}
.container2{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top:20px;
  background: #fff;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.header2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top:30px;
}
.text{
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}
.underline{
  width: 61px;
  height:6px;
  background:#3c009d ;
  border-radius: 9px;
}
.inputs{
  margin-top: 55px;
  display:flex;
  flex-direction: column;
  gap: 25px;
}
.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height:80px;
  background: #f1eee9;
  border-radius: 6px;
}
.input img{
  margin: 0px 30px;
}
.input input{
  height: 50px;
  width:400px;
  background: transparent;
  border: none;
  outline:none;
  color:#797979;
  font-size: 19px;
}
.forgot-password{
  padding-left: 62px;
  margin-top:27px;
  color: #797979;
  font-size: 18px;
}
.forgot-password span{
  color: #3c009d;
  cursor:pointer;
}
.submit-container{
  display: flex;
  gap: 30px;
  margin:60px auto;
}
.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color:#fff ;
  background: #3c009d;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
.gray{
  background: #f1eee9;
  color: #797979;
}